.transaction-main{
    max-width: 1200px;
    padding: 0.2em;
    
    margin: 0.5em;
}

.transaction-page-ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.transaction-page-ul li{
    display: flex;
    justify-content: space-between;
    padding: 2em;
    gap: 50px;
    align-items: center;
    border-top:2px solid rgb(33, 33, 33);
    border-bottom: 2px solid rgb(33, 33, 33);
}

.transaction-info{
    display: flex;
    align-items: center;
    gap: 15px;
}
    
.transaction-info div{
    line-height: 5px;
    text-align: left;
}

.transaction-info .purpose{
    line-height: 20px;
}
.transaction-info .date{
    font-size: 0.7em;
    color: rgb(124, 124, 124);
    margin-top: 10px;
}

.font{
    color: var(--green-color);
    font-weight: bold;
    width: 40px;
    aspect-ratio: 1/1;
}

.recieved-font{
    color: var(--green-color)
}

.failed-font{
    color: red;
}

.pending-font{
    color: orange;
}

.transfer-font{
    color: blue;
}
.transaction-amount{
    line-height: 5px;
    text-align: right;
}

.transaction-id{
    font-size: 0.7em;
    color: rgb(124, 124, 124);
}

.transaction-amount p{
    text-align: right;
    font-size: 0.7em;
    margin-top: 15px;   
}

.transaction-amount .successful{
    color: rgb(0, 255, 0);
}

.transaction-amount .failed{
    color: rgb(255, 0, 0);
}

.transaction-amount .pending{
    color:orange;
}

@media (max-width: 600px) {
    .transaction-info div{
        font-size: 0.8em;
        padding: 0.5em;
    }

    .transaction-page-ul li{
        gap: 10px;
        padding: 0.5em;
    }

    .transaction-amount h4{
        font-size: 0.8em;
        width: 50px;
        text-align: right;
    }

    .transaction-amount p{
        font-size: 0.55em;
    }
}

@media (min-width: 1300px) {
    .transaction-main{
        width: 1200px;
    }
}