
:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --gray-color: #2c2c2c;
  --green-color: #4caf50;
  --red-color: #f44336;
}


body{
  background-color: var(--black-color);
  color:var(--white-color);
  display: grid;
  place-content: center;
}