
:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --gray-color: #2c2c2c;
  --green-color: #4caf50;
  --red-color: #f44336;
}

*,*::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body{
  background-color: var(--black-color);
  color:var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
}

.app{
  width: 100%;
}